{% extends "base.html" %}
{% block content %}
<div class="home">
    <div class="home_titulo_e_subt">
        <div class="home_titulo">
            <span><ion-icon name="lock-closed-outline"></ion-icon> Security Center </span>
        </div>
        <div class="home_subtitulo">
            <p>Segurança para sua propriedade!</p>
        </div>
    </div>
    <div class="home_espaco">
    </div>
    <div class="home_texto">
        <p>Proteja sua casa com o Sensor de Presença: Segurança Doméstica Garantida!</p>
        <br>
        <p>Quando se trata da segurança da sua casa, não há margem para compromissos. Apresentamos o nosso Sensor de Presença, a solução definitiva para garantir a tranquilidade da sua família e proteger o seu lar.</p>
        <br>
        <p>Detecta Intrusos Instantaneamente: Com tecnologia de ponta, nosso sensor de presença é capaz de detectar movimentos suspeitos assim que ocorrem. Não há como escapar do olhar vigilante do nosso sistema de segurança.</p>
        <br>   
        <p>Iluminação Automática: Além de detectar intrusos, nosso sensor de presença pode acionar automaticamente as luzes ao redor da sua casa, afastando potenciais invasores e fornecendo uma sensação extra de segurança para você e sua família.</p>
        <br>   
        <p>Compatível com sua Rotina: Nosso sensor é inteligente e se adapta à sua rotina. Configure-o para ativar apenas quando necessário, garantindo que sua casa esteja protegida nos momentos mais importantes, sem acionamentos desnecessários.</p>
        <br> 
        <p>Fácil Instalação: Não requer conhecimentos avançados em instalação. Nosso sensor de presença é fácil de instalar e pode ser configurado em minutos, trazendo paz de espírito imediata para você e sua família.</p>
        <br>
        <p>Proteja o que é mais importante para você com o Sensor de Presença. Garanta a segurança da sua casa hoje mesmo!</p>
    </div>
</div>
{% endblock %}